@tailwind base;
@tailwind components;
@tailwind utilities;


.react-tagsinput-tag{
  background-color: #ccd2df !important;
    border: 1px solid #d3d3d3 !important;
    color: #120fb1 !important;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent #2d3748 transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}